<body>


    <div class="jumbotron jumbotron-fluid justify-content-center" id="titleRow">
        <div class="container">
            <h1 class="display-4 mainHeader">Search Results</h1>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8" id="gallery-list">

            </div>
        </div>
    </div>


    {{!-- <div class="container">
        <div class="row justify-content-center">
            <div class="col-8" id="resultsBox">
                {{#each movies as | movie | }}
                <h2 class="currentMovieTitle">{{movie.title}}</h2>
                <p>{{movie.year}}</p>
                <p>{{movie.rating}}</p>
                <p>{{movie.genre}}</p>
                <p>{{movie.director}}</p>
                <p>{{movie.plot}}</p>
                {{/each}}

            </div>
        </div>
    </div> --}}


    <script src="../public/js/results.js"></script>